#together {
    padding-bottom: 5%;
    border-bottom: 5px solid #009639;
}

#together_clean {
    margin-top: 10%;
    display: flex;
    width: 100%;

}

#together_clean_img {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#together_clean_img img {
    max-width: 70%;
    overflow: hidden;
    margin: 5%;
    margin-top: 0;
}

.img_responsive {
    display: none;
}



#together_clean_content {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

#together_clean_title {
    color: #009639;
    font-weight: bold;
    font-size: 4vw;
    width: 80%;
}

#together_clean_txt {
    font-weight: bold;
    font-size: 2vw;
    margin-top: 10px;
    width: 80%;
}




#together_survive {
    margin-top: 10%;
    display: flex;
    width: 100%;

}

#together_survive_img {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#together_survive_img img {
    max-width: 70%;
    overflow: hidden;
    margin: 5%;
    margin-top: 0%
}

#together_survive_content {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#together_survive_title {
    color: #009639;
    font-weight: bold;
    font-size: 4vw;
    width: 80%;
}

#together_survive_txt {
    font-weight: bold;
    font-size: 2vw;
    margin-top: 10px;
    width: 80%;
}







#news_main_heading {
    color: #009639;
    font-weight: bold;
    font-size: 6vw;
}

#events_and_news {
    padding-bottom: 5%;
    border-bottom: 5px solid #009639;
}

.news {
    margin-top: 10%;
    display: flex;
    width: 100%;

}
.news_img {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.news_img img {
    max-width: 70%;
    overflow: hidden;
}

.news_content {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-rigth: 5%;
}

.news_title {
    color: #009639;
    font-weight: bold;
    font-size: 4vw;
    width: 95%;
}

.news_txt {
    font-weight: bold;
    font-size: 2vw;
    margin-top: 10px;
    width: 95%;
}


#footer {
    width: 100%;
    height: 250px;
    background-color: #009639;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_placeholder {
    font-size: 4vw;
    display: inline-block;
    padding: 10px 20px;
    background-color: #009639; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underlines on links */
    border: none; /* Remove borders */
    margin-top: 50px;
    cursor: default;
}



.banner_responsive {
    display: none;
}

@media (max-width: 858px) {

    /* together clean*/
    #together {
        display: inline-block;
        text-align: center;
    }

    #together_clean {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #together_clean_img {
        order: 2;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #together_clean_img img {
        display: none;
        max-width: 100%;
    }

    #together_clean_img .img_responsive {
        display: block;
        width: 90vw;
    }

    #together_clean_content {
        order: 1;
        display: flex;
        width: 100%;
        align-items: center;
    }

    #together_clean_title {
        font-size: 10vw;
        text-align: center;
    }

    #together_clean_txt {
        font-size: 5vw;
        width: 90%;
    }

    /* together survive*/
    #together_survive {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #together_survive_img {
        order: 2;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #together_survive_img img {
        display: none;
        max-width: 100%;
    }

    #together_survive_img .img_responsive {
        display: block;
        width: 90vw;
    }

    #together_survive_content {
        order: 1;
        display: flex;
        width: 90%;
        align-items: center;
    }

    #together_survive_title {
        font-size: 10vw;
        text-align: center;
    }

    #together_survive_txt {
        font-size: 5vw;
        width: 90%;
    }


    /* news */
    #news_main_heading {
        color: #009639;
        font-weight: bold;
        font-size: 15vw;
    }

    #events_and_news {
        display: inline-block;
        text-align: center;
    }

    .news {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .news_img {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .news_img img {
        display: none;
        max-width: 100%;
    }

    .news_img .same {
        display: block;
        width: 90vw;
    }

    .news_img .img_responsive {
        display: block;
        width: 90vw;
    }

    .news_content {
        order: 1;
        display: inline-flex;
        width: 100%;
        align-items: center;
    }

    .news_title {
        font-size: 10vw;
        text-align: center;
    }

    .news_txt {
        font-size: 5vw;
        width: 90%;
    }


    .banner {
        display: none;
    }

    .banner_responsive {
        position: relative;
        display: inline-block;
    }

    .banner_txt_responsive {
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 150, 57, 0.5);
        padding: 20px;
        width: 80%;
        height: auto;
    }

    .banner_img_responsive img {
        width: 100vw;
        background-size: cover ;
        position: relative;
    }

    #footer {
        height: 25vw;
    }

    #footer_placeholder {
        font-size: 8vw;
    }
}